body {
  background-color:peru;
}

h1 {
  color:white;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #eb6434;
}

.form,
.greetings {
  display: none;
}

.showing {
  display:block;
}